/*

See also https: //github.com/yzane/vscode-markdown-pdf/blob/master/styles/markdown.css

https: //github.com/yzane/vscode-markdown-pdf/tree/master

*/


:root {
	font: 100% verdana, arial, sans-serif;
}

a {
	color: crimson;
	text-decoration: underline;
}

a:hover {
	text-decoration: underline;
}

em {
	font-style: italic;
}

h1 {
	font-size: 200%;
	margin: 0 0 1rem 0;
}

h2 {
	font-size: 150%;
}

h3 {
	font-size: 110%;
}

h1,
h2,
h3 {
	color: #880000;
	margin: 0;
	padding: 0;
	border-width: 0;
}

img {

	max-width: 400px;
	width: 100%;
}

li {
	font-size: 14pt;
	margin-top: 0em;
	padding-top: 0em;
	margin-bottom: 0;
	padding-bottom: 0;
}

mark {
	background-color: #ff0;
}

p {
	color: #000;
	font-size: 14pt;
	margin: 0 0 1.2rem 0;
	/* padding: 0; */
}

title {
	text-decoration: none;
}

ul {
	margin: 0 0 1.2rem 0;
	padding-top: -1em;
}

.emoji {
	height: 1rem;
	width: 1rem;
}
